<articel>
  <div>
      <%= image_tag category.icon, size: "60x60", alt: "category icon" %>
  </div>
  <div>
    <h5><%= category.name %></h5> 
  </div>
  <div>
    <span>Total: <%= Group.total(category.id) %></span>
  </div>
</article>