<div>
  <h1>Categories</h1>

  <% @groups.each do |group| %>
    <%= link_to group_expenses_path(group.id) do %>
      <%= render 'group_card', category: group %>
    <% end %>
  <% end %>

  <%= link_to 'Add a new category', new_group_path %>
</div>
